.ui.modal > .close {
  right: 1rem;
  top: 1rem;
  color: black;
}

.actions:empty {
  display: none;
}

.actions-default {
  display: none;
}

.actions:empty + .actions-default {
  display: block;
}
